.container{
  text-align: center;
}

body {
  font: 20px "Comic", Futura, serif;
  font-size: 20px;
  font-style: italic;
  margin: -40px;
  display: inline-flex;
  justify-content: center;
  height:100%;
  width:100%;
  margin-top: 20px;
  background-color: sandybrown;
  text-shadow: 2px 2px 5px red
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}



.square {
  background: rgb(131, 37, 37);
  border: 5px solid rgb(40, 134, 87);
  float: left;
  font-size: 54px;
  color:rgb(179, 25, 89) ;
  border-radius: 30%;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5;
  text-align: center;
  width: 80px;
  background-image: radial-gradient(circle,darkgreen, yellow, green);  
  
}

/* @keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
} */

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(26, 61, 136);
}

.game {
  display: flex;
  flex-direction: row;
}


.game-info {
  margin-left: 20px;
}

.status{
  font: 20px "Century Gothic", Futura, sans-serif;
}

.nameform{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box
}

.high{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid green;
  border-radius: 4px;
  box-sizing: border-box
}




